.nav {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 3rem;

  padding: 4rem;
  background-color: #371b58;
  color: white;
}

.nav section:first-child {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  gap: 2rem;

  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}

.nav__links {
  grid-column: 1 / 2;

  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 2rem;
}

.nav__meta {
  grid-column: 3 / 4;

  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;
}

.nav section:last-child {
  display: grid;
  grid-template-columns: 10rem repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav__logo {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  padding: 0;
}

.nav__categories {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 1.5rem;
}

.nav__contact {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  align-items: center;
  gap: 1rem;
}

.fa-user,
.fa-heart,
.fa-cart-shopping {
  padding: 1rem;
  background-color: #c7a0f3;
  border-radius: 50%;
  color: #371b58;
}

.fa-heart,
.fa-cart-shopping {
  position: relative;
}

.fa-heart .heart,
.fa-cart-shopping .cart {
  position: absolute;
  top: -1rem;
  right: -1rem;
  color: #371b58;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: white;
}
